.AuthPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
    padding-top: 7rem;

}

.AuthPage .login-signup-btn {
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    font-size: 5rem;
    margin: 5rem 0;
}

.AuthPage img {
    height: 35rem;
}

.AuthPage .auth-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.AuthPage .auth-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-right h1 {
    font-family: 'Agbalumo', sans-serif;
    font-size: 3rem;
}

.auth-right h2 {
    margin: 1rem 0;
    font-family: 'Agbalumo', sans-serif;
    font-size: 2.5rem;
}

.auth-right .form-container {
    margin-top: 1.5rem;
    background-color: rgb(245, 245, 245);
}

.AuthPage .btn-success {
    border: none;
    font-size: 1.5rem;
    background-color: rgb(57, 117, 233);
}

.AuthPage .btn-primary {
    border: none;
    font-size: 1.2rem;
    background-color: rgb(101, 181, 61);
    margin-top: 1rem;
}