.AuthPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
    padding-top: 7rem;

}

.AuthPage .login-signup-btn {
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    font-size: 5rem;
    margin: 5rem 0;
}

.AuthPage .auth-left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Agbalumo';
    font-size: 8rem;
}

.AuthPage .auth-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-right h1 {
    font-family: 'Agbalumo', sans-serif;
    font-size: 3.3rem;
    margin-bottom: 1.5rem;
}

.auth-right .form-container {
    margin-top: 1.5rem;
    background-color: rgb(245, 245, 245);
}

.AuthPage .btn-success {
    border: none;
    font-size: 1.5rem;
    background-color: black;
}

.AuthPage .btn-success:hover {
    background-color: rgba(189, 14, 14, 0.709);
}

.AuthPage .btn-primary {
    border: none;
    font-size: 1.2rem;
    background-color: rgba(189, 14, 14, 0.709);
    ;
    margin-top: 1rem;
    transition: 0.5s;
}

.AuthPage .btn-primary:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.AuthPage img {
    height: 350px;
    border-radius: 10%;
}

.AuthPage h3 {
    font-family: 'Agbalumo';
    margin-bottom: 1.5rem;
}