.AuthPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Open Sans', sans-serif;
    padding-top: 7rem;

}

.AuthPage .login-signup-btn {
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    font-size: 5rem;
    margin: 5rem 0;
}

.AuthPage .auth-left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Agbalumo';
    font-size: 8rem;
}

.AuthPage .auth-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-right h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 3.3rem;
    margin-bottom: 1rem;
}

.auth-right .form-container {
    margin-top: 1.5rem;
    background-color: rgb(245, 245, 245);
}

.AuthPage .btn-success {
    border: none;
    font-size: 1.5rem;
    background-color: rgb(210, 95, 38);
}

.AuthPage .btn-success:hover {
    background-color: rgb(210, 95, 38);
}

.AuthPage .btn-primary {
    border: none;
    font-size: 1.2rem;
    background-color: #1D5B79;
    margin-top: 1rem;
    transition: 0.5s;
    padding: 0.8rem;
}

.AuthPage .btn-primary:hover {
    background-color: #134a66;
}

.AuthPage img {
    height: 350px;
    border-radius: 10%;
}

.AuthPage h3 {
    font-family: 'Rubik', sans-serif;
    margin: 1.2rem 0;
}

@media only screen and (max-width: 455px) {
    .AuthPage {
        grid-template-columns: 1fr;
    }

    .AuthPage .auth-right {
        grid-column: 1 / 3;
    }

    .AuthPage h1 {
        font-size: 2.2rem;
    }

    .AuthPage h3 {
        font-size: 1.3rem;
    }

    .AuthPage img {
        order: -1;
        height: 200px !important;
        margin-bottom: 3rem;
        margin-top: -2rem;
    }
}