.InfoBtn {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    font-size: 3rem;
}

.InfoDiv {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

@media (max-width: 430px) {
    .InfoDiv {
        margin-right: 1rem;
    }
}