.JobTable {
    margin: 3rem auto;
    font-size: 0.75rem;
    border-radius: 20px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.JobTable tbody tr td:nth-child(2n-1) {
    font-weight: bold;
}

.JobTable thead tr {
    background-color: #009879;
    color: #ffffff;
}

.JobTable th,
.JobTable td {
    padding: 7px 5px;
    max-width: 20rem;
}

.JobTable .red {
    background-color: red;
}

.JobTable .yellow {
    background-color: yellow;
}

.JobTable .blue {
    background-color: #39A7FF;
}

.JobTable .green {
    background-color: #A6FF96;
}

.JobTable input {
    max-width: 10rem;
    display: flex;
}

.JobTable select {
    max-width: 6rem;
}

.JobTable button {
    border: none;
}

.JobTable th {
    font-size: 1.1rem;
}