nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

nav span {
    font-size: 1.2rem;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 15rem;
}

.dropdown-content a {
    padding: 8px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.arrow {
    font-size: 1.2rem;
    padding: 0 0.2rem;
}