.NewEntryRow {
    border: none;
    padding: 10rem;
}

.NewEntryRow input,
select {
    border-radius: 10px;
}

.NewEntryRow button {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    padding: 0;
    background-color: green;
    margin: 0 1rem;
}