.TableRow td {
    max-width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TableRow #td-title {
    font-style: italic;
}

.TableRow .delete-btn {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0;
    background-color: red;
    margin-left: 1.2rem;
}