.TableRow td {
    max-width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TableRow #td-title {
    font-style: italic;
}

.TableRow .delete-btn {
    border-radius: 11px;
    width: 2rem;
    height: 2rem;
    font-size: 0.8rem;
    padding: 0;
    background-color: #D83F31;
    margin-left: 1.2rem;
}

.TableRow .status {
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
}

#NumTD {
    padding: 0 0.8rem;
    font-size: 0.8rem;
}


#dateTD {
    font-size: 0.9rem;
}